@font-face {
    font-family: 'Museo Sans';
    src: url('../lib/bootstrap/fonts/Museo Sans/Museo Sans 300/MuseoSans300.otf');
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@font-face {
    font-family: 'Proxima-Nova';
    src: url('../lib/bootstrap/fonts/proxima-nova/ProximaNova.otf');
}
/****************
 * COLOR-SCHEME *
 ****************/
/*RUBY*/
body.ruby-color-scheme .has-error {border-right: 3px solid #c6202d !important; } 
body.ruby-color-scheme .navbar-nav .options .menu-links:hover, body.ruby-color-scheme .options .menu-links:focus{color: #ef5757; } 
body.ruby-color-scheme h2.title, body.ruby-color-scheme h4.title{color: #c6202d; } 
body.ruby-color-scheme footer, body.ruby-color-scheme .redbot:hover{background-color: #c6202d !important; } 
body.ruby-color-scheme .btn.btn-shadow{box-shadow: inset 0 -4px 0 #c6202d; } 
body.ruby-color-scheme .redbot, body.ruby-color-scheme .navbar-default .navbar-toggle:hover .icon-bar, body.ruby-color-scheme .navbar-default .navbar-toggle:focus .icon-bar, body.ruby-color-scheme .btn.btn-shadow{background-color: #ef5757 !important; }
body.ruby-color-scheme .menu-links.focus{color: #c6202d;}
/*WARM GREYTONES*/
body.greytones-color-scheme .has-error {border-right: 3px solid #68696b !important; } 
body.greytones-color-scheme .navbar-nav .options .menu-links:hover, body.greytones-color-scheme .options .menu-links:focus{color: #ededed; } 
body.greytones-color-scheme h2.title, body.greytones-color-scheme h4.title{color: #68696b; } 
body.greytones-color-scheme footer, body.greytones-color-scheme .redbot:hover{background-color: #68696b !important; } 
body.greytones-color-scheme .btn.btn-shadow{box-shadow: inset 0 -4px 0 #68696b; } 
body.greytones-color-scheme .redbot, body.greytones-color-scheme .navbar-default .navbar-toggle:hover .icon-bar, body.greytones-color-scheme .navbar-default .navbar-toggle:focus .icon-bar, body.greytones-color-scheme .btn.btn-shadow{background-color: #C5C5C5 !important; }
body.greytones-color-scheme .menu-links.focus{color: #68696b;}
/*MAGO*/
body.mango-color-scheme .has-error {border-right: 3px solid #fcca09 !important; } 
body.mango-color-scheme .navbar-nav .options .menu-links:hover, body.mango-color-scheme .options .menu-links:focus{color: #f1be52; } 
body.mango-color-scheme h2.title, body.mango-color-scheme h4.title{color: #fcca09; } 
body.mango-color-scheme footer, body.mango-color-scheme .redbot:hover{background-color: #fcca09 !important; } 
body.mango-color-scheme .btn.btn-shadow{box-shadow: inset 0 -4px 0 #f1be52; } 
body.mango-color-scheme .redbot, body.mango-color-scheme .navbar-default .navbar-toggle:hover .icon-bar, body.mango-color-scheme .navbar-default .navbar-toggle:focus .icon-bar, body.mango-color-scheme .btn.btn-shadow{background-color: #fcca09 !important; } 
body.mango-color-scheme .menu-links.focus{color: #fcca09;}
/*ULTRAMARINE*/
body.ultramarine-color-scheme .has-error {border-right: 3px solid #217bbd !important; } 
body.ultramarine-color-scheme .navbar-nav .options .menu-links:hover, body.ultramarine-color-scheme .options .menu-links:focus{color: #4794ff; } 
body.ultramarine-color-scheme h2.title, body.ultramarine-color-scheme h4.title{color: #217bbd; } 
body.ultramarine-color-scheme footer, body.ultramarine-color-scheme .redbot:hover{background-color: #217bbd !important; } 
body.ultramarine-color-scheme .btn.btn-shadow{box-shadow: inset 0 -4px 0 #4794ff; } 
body.ultramarine-color-scheme .redbot, body.ultramarine-color-scheme .navbar-default .navbar-toggle:hover .icon-bar, body.ultramarine-color-scheme .navbar-default .navbar-toggle:focus .icon-bar, body.ultramarine-color-scheme .btn.btn-shadow{background-color: #217bbd !important; } 
body.ultramarine-color-scheme .menu-links.focus{color: #217bbd;}
/********************
 * END COLOR-SCHEME *
 ********************/

html{
    font-size: 16px;
	overflow-x: hidden;
}
h1{
    font-weight: bold;
    font-family: 'Museo Sans';
}
h2{
    font-weight: regular;
}
p{
    font-family: "Noto Sans";
    text-align: justify;
}
a.btn.btn-shadow{
    font-family: "Proxima-Nova"
}

.logo.logo-header {
  width: 17.85714rem;
  height: 3.57143rem;
  background-size: 17.85714rem 3.57143rem;
  background-image: url(https://d2zbr4nz5vixd5.cloudfront.net/assets/logo/horizontal-ca4403d62672f19280b67352fa4c14e2ed7dc729eefb29a3886d625f8ed812c0.svg);
}

.button.button-icon.icon.ion-navicon{
    position: absolute;
    right: 20px;
    top: 13px;
}
.menu.menu-right{
    background-color: #FFF;
}
.options .menu-links{
    border-radius: 4px;
    color: #333;
    font-weight: bold;
    transition: .1s;
    padding-top: 0px;
}
.menu-links span.lnr{
    font-weight: bold;
    font-size: 16px;
}
.navbar-nav .options .menu-links:hover, .options .menu-links:focus{
    border-radius: 0px;
}
.options{
    padding-bottom: 10px;
}
ul.list{
    padding-top: 20px;
}
section{
    text-align: center;
}
section.intro{
    padding-top: 150px;
    min-height: 500px;
    background-image: url("../img/family.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
}
@media screen and (max-width: 880px) {
    section.intro{
        background-size: auto 100%;
    }
}
section.normal{
    padding: 40px 0px;
    min-height: 250px;
}
.row-top{
    margin-bottom: 30px;
}
.btn.btn-shadow{
    border-radius: 5px;
    color: #FFF;
    padding-bottom: 16.1px;
    padding-left: 21px;
    padding-right: 16.1px;
    padding-top: 16.1px;
    border: none;
    font-weight: bold;
}
.btn.btn-shadow:hover, .btn.btn-shadow:focus{
    box-shadow: none !important;
    margin-top: 4px;
    transition: .1s;
    padding-bottom: 12.1px;
    color: #FFF;
}
.header .navbar{
    margin-bottom: 0px;
    background-color: #FFF;
    border: none;
}
.navbar-header .navbar-brand{
    padding-top: 0px;
    margin-top: -6px;
}
.collapse.navbar-collapse{
    border: none;
}
.navbar-header .navbar-toggle{
    margin-top: -7px;
    border: none;
}
.navbar-toggle[aria-expanded="true"] .icon-bar{
    opacity: 0;
}
.navbar-toggle[aria-expanded="true"] .icon-bar + .icon-bar{
    transform: rotate(50deg);
    opacity: 100;
}
.navbar-toggle[aria-expanded="true"] .icon-bar + .icon-bar + .icon-bar{
    transform: rotate(-50deg);
    margin-top: -4px;
    opacity: 100;
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing{
    min-width: 223px;
    right: 0;
    position: absolute;
    background-color: #FFF;
    z-index: 999;
    border: 1px solid;
    border-top: 0px;
    border-color: #E5E5E5;
    box-shadow: -4px 4px 4px #777;
}
h2.title{
    text-align: center;
}
.intro{
width:100% !important;
min-width: 200% !important;
margin-left:-50%;
background-image:url(../images/home.jpg) !important;
background-position:center center;
background-size:cover;  
overflow:hidden;
}

.whitch{
    width:100% !important;
    margin:5px;
}

@media screen and (max-width: 400px) {
    .intro h1{
    width:50%;
    margin-left:25%;
    }
}

footer{
width:100%;
margin-top:10%;
color:#ffffff;
padding:25px;
}
footer small{
font-size: 70%;	
line-height:50%;
}

.redbot{
    color: #ffffff !important;
}

.redbot:hover{
    border: medium none;
    border-radius: 5px !important;
}
button.change-colors{
    position: fixed;
    bottom: 53px;
    border: medium none;
    width: 43px;
    height: 33px;
    font-size: 27px;
    font-weight: bold;
    background: transparent none repeat scroll 0% 0%;
    color: rgb(68, 68, 68);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    z-index: 5;
}
.color-menu{
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0px;
    z-index: 1000;
    padding: 20px;
    right: 0px;
    height: 100%;
    box-shadow: -4px 0px 8px rgb(102, 102, 102);
}
.color-menu ul{
    padding: 10px;
}
.color-menu li{
    list-style: none;
    padding: 10px;
}
.color-menu li a{
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.color-menu li a:hover,
.color-menu li a:focus
{
    text-decoration: none;
}
.color-menu li.ruby a i, .color-menu li.ruby a:hover, .color-menu li.ruby a:focus{transition: .2s; color: #c6202d; }
.color-menu li.greytones a i, .color-menu li.greytones a:hover, .color-menu li.greytones a:focus{transition: .2s; color: #68696b; }
.color-menu li.mango a i, .color-menu li.mango a:hover, .color-menu li.mango a:focus{transition: .2s; color: #fcca09; }
.color-menu li.ultramarine a i, .color-menu li.ultramarine a:hover, .color-menu li.ultramarine a:focus{transition: .2s; color: #217bbd; }
a.close-colors{
    float: right;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
a.close-colors:hover, a.close-colors:focus{
    color: #666;
    text-decoration: none;
}