<ion-view view-title="Home">

  <ion-content>
    <section class="intro">
        <div class="container">
            <div class="row row-top">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <h1>Find <i>your</i> helper now. Easy!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
                    <a class="btn btn-shadow">HOW IT WORKS</a>
                </div>
            </div>
        </div>
    </section>
    <section class="normal">
        <div class="container">
            <div class="row row-top">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <h1>About us!</h1>
                </div>
            </div>
            <div class="row row-top">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
                    <p>We are a web and mobile service connecting families with great babysitters. Our services help families find childcare, home care and elder care. Looking for a trusted babysitter? Part-time or full-time? We’ve got you covered.</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    <a class="btn btn-shadow" href="#/signup">TRY IT NOW</a>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    <a class="btn btn-shadow">LEARN MORE</a>
                </div>
            </div>
        </div>
    </section>

  </ion-content>
</ion-view>
