<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h2 class="title" style="text-align: center;">
              You <span style="color: #b21212;">{{profileCtrl.user.firstName}} {{profileCtrl.user.lastName}}</span>
              <br/>are what we called of <span style="color: #b21212;">{{profileCtrl.profile.title}}</span>
            </h2>

            <p style="text-align: center; font-size: 20px;">{{profileCtrl.profile.description}}</p>

            <div align="center">
              <img src="{{profileCtrl.profile.image}}">
            </div>

            <div align="center" ng-if="profileCtrl.matchesProfiles != null && profileCtrl.matchesProfiles.length > 0">
              <h3>You profile matches with:</h3>

              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="col-sm-2 col-md-2 col-lg-2" ng-repeat="mp in profileCtrl.matchesProfiles">
                    <div class="thumbnail">
                      <img src="{{mp.picture.thumbnail}}" alt="Profile picture">
                      <div class="caption" align="center">
                        <h3 style="text-transform: capitalize;">{{mp.name.title}} {{mp.name.last}}</h3>
                        <p>
                          <span style="text-transform: capitalize;" >
                            <i class="glyphicon glyphicon-phone"></i>&nbsp;{{mp.phone}}
                          </span>
                        </p>
                        <p>
                          <span style="text-transform: capitalize;" >
                            {{mp.location.street}}, {{mp.location.city}} - {{mp.location.state}}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
