<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h2 class="title" style="text-align: center;">{{questionCtrl.question.id}} - {{questionCtrl.question.question}}</h2>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" align="center">
              <div class="btn-group" role="group" aria-label="Answers">
                <button type="button" class="btn btn-default" ng-click="questionCtrl.setAnswer(a.id, a.profileId)"
                        ng-repeat="a in questionCtrl.question.answers">
                  {{a.answer}}
                  <i ng-if="a.icon != null && a.icon != ''" class="{{a.icon}}"></i>
                </button>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div align="center">
                <button type="button" class="btn btn-danger" ng-click="questionCtrl.goToQuestion()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
