<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="title">Welcome</h2>
          <p style="text-align: center;">
            <b>We are delighted you are giving <br/>myBestHelper a try!</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h2 class="sub-title" style="text-align: center;">Which one are you?</h2>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <a class="btn btn-default btn-lg whitch" role="button"
                 ng-class="{'active': signCtrl.user.kind == 1}" ng-click="signCtrl.user.kind = 1">
                I'm a Helper
                <span class="lnr lnr-heart-pulse"></span>
              </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <a class="btn btn-default btn-lg whitch" role="button"
                 ng-class="{'active': signCtrl.user.kind == 2}" ng-click="signCtrl.user.kind = 2">
                I'm a Family
                <span class="lnr lnr-users"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="signCtrl.user.kind != null">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form id="frmSignUp" ng-submit="signCtrl.goToQuestion();">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                <span class="input-group-addon" id="ba1">
                  F
                </span>
                  <input id="txtFirstName" type="text" class="form-control" placeholder="First Name" ng-model="signCtrl.user.firstName"
                         ng-class="{'has-error': signCtrl.user.firstName == null || signCtrl.user.firstName == ''}" aria-describedby="ba1">
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                <span class="input-group-addon" id="ba2">
                  L
                </span>
                  <input id="txtLastName" type="text" class="form-control" placeholder="Last Name" ng-model="signCtrl.user.lastName"
                         ng-class="{'has-error': signCtrl.user.lastName == null || signCtrl.user.lastName == ''}" aria-describedby="ba2">
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="input-group">
                <span class="input-group-addon" id="ba3">
                  @
                </span>
                  <input id="txtEmail" type="email" class="form-control" placeholder="Email" ng-model="signCtrl.user.email"
                         ng-class="{'has-error': signCtrl.user.email == null || signCtrl.user.email == ''}" aria-describedby="ba3">
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                <span class="input-group-addon" id="ba4">
                  <i class="glyphicon glyphicon-earphone"></i>
                </span>
                  <input type="tel" placeholder="Phone number" class="form-control" ng-model="signCtrl.user.phoneNumber" aria-describedby="ba4">
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="input-group">
                <span class="input-group-addon" id="ba5">
                  <i class="glyphicon glyphicon-lock"></i>
                </span>
                  <input id="txtPassword" type="password" class="form-control" placeholder="Password" ng-model="signCtrl.user.password"
                         ng-class="{'has-error': signCtrl.user.password == null || signCtrl.user.password == ''}" aria-describedby="ba5">
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div align="center">
                  <button type="submit" class="btn btn-shadow">Continue</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">

    </div>
  </div>
</div>
